<main class="app">
  <div class="input-container">
    <Input class="textbox" type="search" placeholder="Search Giphy..." @value={{this.searchQuery}} />

    {{#if (gte this.searchQuery.length "3")}}
      <select
        id="gif_type"
        class="dropdown"
        name="gif_type"
        onchange={{action (mut this.imageType) value="target.value"}}
      >
        <option value="fixed" selected={{eq this.imageType "fixed"}}>Fixed Width</option>
        <option value="fixed-small" selected={{eq this.imageType "fixed-small"}}>Fixed Width Small</option>
        <option value="downsized" selected={{eq this.imageType "downsized"}}>Downsized</option>
      </select>
    {{/if}}
  </div>

  {{#if this.activeGif}}
    <p>{{this.activeGif}}</p> <button class="btn" type="button" {{action (mut this.activeGif) ""}}>Clear URL</button>
  {{/if}}

  {{#if (gte this.searchQuery.length "3")}}
    <button class="btn" type="button" {{action (mut this.searchQuery "")}}>Show trending gifs</button>

    {{!-- Show search results --}}
    <GiphyProvider
      @endpoint="search"
      @type={{this.imageType}}
      @options={{hash q=this.searchQuery}} as |gifs|
    >
      <ul>
        {{#if gifs.loading}}
          <h2 data-test-loading>Loading...</h2>
        {{/if}}

        {{#each gifs.results as |gif|}}
          <li>
            <GiphyPreview @gif={{gif}} @onClick={{action (mut this.activeGif) gif.url}}/>
          </li>
        {{else if (not gifs.loading)}}
          <h2>No Results</h2>
        {{/each}}
      </ul>
    </GiphyProvider>
  {{else}}
    {{!-- Show trending gifs --}}
    <h1>Trending</h1>
    <GiphyProvider @endpoint="trending" as |gifs| >
      <ul>
        {{#if gifs.loading}}
          <h2 data-test-loading>Loading...</h2>
        {{/if}}

        {{#each gifs.results as |gif|}}
          <li>
            <GiphyPreview @gif={{gif}} @onClick={{action (mut this.activeGif) gif.url}}/>
          </li>
        {{else if (not gifs.loading)}}
          <h2>No Results</h2>
        {{/each}}
      </ul>
    </GiphyProvider>
  {{/if}}
</main>
